<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengaiw.model.dao.mapper.PotevioModelMapper">
  <resultMap id="BaseResultMap" type="com.hengaiw.model.dao.model.PotevioModel">
    <id column="m_id" jdbcType="INTEGER" property="m_id" />
    <result column="m_name" jdbcType="VARCHAR" property="m_name" />
    <result column="m_url" jdbcType="VARCHAR" property="m_url" />
    <result column="m_icon" jdbcType="VARCHAR" property="m_icon" />
    <result column="m_parent" jdbcType="INTEGER" property="m_parent" />
    <result column="m_state" jdbcType="SMALLINT" property="m_state" />
    <result column="m_addtime" jdbcType="TIMESTAMP" property="m_addtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hengaiw.model.dao.model.PotevioModel">
    <result column="m_res" jdbcType="LONGVARCHAR" property="m_res" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, m_name, m_url, m_icon, m_parent, m_state, m_addtime
  </sql>
  <sql id="Blob_Column_List">
    m_res
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hengaiw.model.dao.model.PotevioModelExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from potevio_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hengaiw.model.dao.model.PotevioModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from potevio_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from potevio_model
    where m_id = #{m_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from potevio_model
    where m_id = #{m_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengaiw.model.dao.model.PotevioModelExample">
    delete from potevio_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hengaiw.model.dao.model.PotevioModel">
    insert into potevio_model (m_id, m_name, m_url, 
      m_icon, m_parent, m_state, 
      m_addtime, m_res)
    values (#{m_id,jdbcType=INTEGER}, #{m_name,jdbcType=VARCHAR}, #{m_url,jdbcType=VARCHAR}, 
      #{m_icon,jdbcType=VARCHAR}, #{m_parent,jdbcType=INTEGER}, #{m_state,jdbcType=SMALLINT}, 
      #{m_addtime,jdbcType=TIMESTAMP}, #{m_res,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengaiw.model.dao.model.PotevioModel">
    insert into potevio_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="m_id != null">
        m_id,
      </if>
      <if test="m_name != null">
        m_name,
      </if>
      <if test="m_url != null">
        m_url,
      </if>
      <if test="m_icon != null">
        m_icon,
      </if>
      <if test="m_parent != null">
        m_parent,
      </if>
      <if test="m_state != null">
        m_state,
      </if>
      <if test="m_addtime != null">
        m_addtime,
      </if>
      <if test="m_res != null">
        m_res,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="m_id != null">
        #{m_id,jdbcType=INTEGER},
      </if>
      <if test="m_name != null">
        #{m_name,jdbcType=VARCHAR},
      </if>
      <if test="m_url != null">
        #{m_url,jdbcType=VARCHAR},
      </if>
      <if test="m_icon != null">
        #{m_icon,jdbcType=VARCHAR},
      </if>
      <if test="m_parent != null">
        #{m_parent,jdbcType=INTEGER},
      </if>
      <if test="m_state != null">
        #{m_state,jdbcType=SMALLINT},
      </if>
      <if test="m_addtime != null">
        #{m_addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="m_res != null">
        #{m_res,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengaiw.model.dao.model.PotevioModelExample" resultType="java.lang.Long">
    select count(*) from potevio_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update potevio_model
    <set>
      <if test="record.m_id != null">
        m_id = #{record.m_id,jdbcType=INTEGER},
      </if>
      <if test="record.m_name != null">
        m_name = #{record.m_name,jdbcType=VARCHAR},
      </if>
      <if test="record.m_url != null">
        m_url = #{record.m_url,jdbcType=VARCHAR},
      </if>
      <if test="record.m_icon != null">
        m_icon = #{record.m_icon,jdbcType=VARCHAR},
      </if>
      <if test="record.m_parent != null">
        m_parent = #{record.m_parent,jdbcType=INTEGER},
      </if>
      <if test="record.m_state != null">
        m_state = #{record.m_state,jdbcType=SMALLINT},
      </if>
      <if test="record.m_addtime != null">
        m_addtime = #{record.m_addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.m_res != null">
        m_res = #{record.m_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update potevio_model
    set m_id = #{record.m_id,jdbcType=INTEGER},
      m_name = #{record.m_name,jdbcType=VARCHAR},
      m_url = #{record.m_url,jdbcType=VARCHAR},
      m_icon = #{record.m_icon,jdbcType=VARCHAR},
      m_parent = #{record.m_parent,jdbcType=INTEGER},
      m_state = #{record.m_state,jdbcType=SMALLINT},
      m_addtime = #{record.m_addtime,jdbcType=TIMESTAMP},
      m_res = #{record.m_res,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update potevio_model
    set m_id = #{record.m_id,jdbcType=INTEGER},
      m_name = #{record.m_name,jdbcType=VARCHAR},
      m_url = #{record.m_url,jdbcType=VARCHAR},
      m_icon = #{record.m_icon,jdbcType=VARCHAR},
      m_parent = #{record.m_parent,jdbcType=INTEGER},
      m_state = #{record.m_state,jdbcType=SMALLINT},
      m_addtime = #{record.m_addtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengaiw.model.dao.model.PotevioModel">
    update potevio_model
    <set>
      <if test="m_name != null">
        m_name = #{m_name,jdbcType=VARCHAR},
      </if>
      <if test="m_url != null">
        m_url = #{m_url,jdbcType=VARCHAR},
      </if>
      <if test="m_icon != null">
        m_icon = #{m_icon,jdbcType=VARCHAR},
      </if>
      <if test="m_parent != null">
        m_parent = #{m_parent,jdbcType=INTEGER},
      </if>
      <if test="m_state != null">
        m_state = #{m_state,jdbcType=SMALLINT},
      </if>
      <if test="m_addtime != null">
        m_addtime = #{m_addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="m_res != null">
        m_res = #{m_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where m_id = #{m_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hengaiw.model.dao.model.PotevioModel">
    update potevio_model
    set m_name = #{m_name,jdbcType=VARCHAR},
      m_url = #{m_url,jdbcType=VARCHAR},
      m_icon = #{m_icon,jdbcType=VARCHAR},
      m_parent = #{m_parent,jdbcType=INTEGER},
      m_state = #{m_state,jdbcType=SMALLINT},
      m_addtime = #{m_addtime,jdbcType=TIMESTAMP},
      m_res = #{m_res,jdbcType=LONGVARCHAR}
    where m_id = #{m_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengaiw.model.dao.model.PotevioModel">
    update potevio_model
    set m_name = #{m_name,jdbcType=VARCHAR},
      m_url = #{m_url,jdbcType=VARCHAR},
      m_icon = #{m_icon,jdbcType=VARCHAR},
      m_parent = #{m_parent,jdbcType=INTEGER},
      m_state = #{m_state,jdbcType=SMALLINT},
      m_addtime = #{m_addtime,jdbcType=TIMESTAMP}
    where m_id = #{m_id,jdbcType=INTEGER}
  </update>
</mapper>